#subtitleBAcc{

              /* Username or email address */


                position: absolute;
                width: 224px;
                height: 24px;
                left: 175px;
                top: 604px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height */


                color: #000000;


}

@media screen and (max-width:1280px) {
    #subtitleBAcc{
        width: 1640px;
        height: 450px;
        left: -610px;
        top: 7090px;
  
    }
 }  

 @media screen and (max-width:750px) {
    #subtitleBAcc{
        
        position: absolute;
        width: 255px;
        height: 55px;
        left: -880px;
        top: 8290px;
    
    }
 }  



