 .homeF{
    position: absolute;
    width: 1240.01px;
  
    top:4800px;
    left: 80px;
 }


 .myAccountF{
    position: absolute;
    width: 1240.01px;

    top:1600px;
    left: 80px;
 }



 @media screen and (max-width:1280px) {
    .myAccountF{
        position: absolute;
        width: 1240.01px;
    
        top: -55rem;
        left: 80px;
     }
    
     .homeF{
        position: absolute;
        width: 1240.01px;
        top:300rem;
        left: 80px;
     }
 }

 @media screen and (max-width:750px) {
    .myAccountF{
        position: absolute;
        width: 1240.01px;
    
        top: -130rem;
        left: 80px;
     }

     .homeF{
        position: absolute;
        width: 1240.01px;
    
        top: 300rem;
        left: 80px;
     }


 }