.topContener{
    /* Group 32 */


    position: absolute;
    width: 1131px;
    height: 312px;
   
}



@media screen and (max-width:1280px) {
    .topContener{
        /* Group 32 */
    
    
        position: absolute;
        width: 1131px;
       
        top: 2800px;
        left: -50px;
       
    }
    
 }  

 @media screen and (max-width:750px) {
    .topContener{
        /* Group 32 */
    
    
        
        position: absolute;
        width: 1131px;
       
        top: 4000px;
        left: -50px;
       
    }
    
    
 } 