.header
{
            /* Group 5 */

        display: flex;
        flex-direction: row;
        position: relative;
        width: 1440px;
        height: 100px;
        left: 0px;
        top: 0px;
         z-index: 1;
}

