.imgT{
    /* Rocket single seater 1 */


            position: absolute;
            width: 1000px;
            height: 1300px;
            left: 587px;
            top: 0px;
            filter: drop-shadow(0px 28px 30px rgba(0, 0, 0, 0.1));
           
}


@media screen and (max-width:1280px) {
    .imgT{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 1000px;
        height: 1300px;
        left: 387px;
        top: 0px;
       
    }
}

@media screen and (max-width:750px) {
    .imgT{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 1200px;
        height: 1300px;
        left: 20px;
        top: 0px;
       
    }
    
}

