#titleFAcc{

            position: relative;
            width: 300px;
            height: 54px;
            right: 200px;
            top: 86px;
            left: 80px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 54px;
         
}
