.contenerBB{
    /* Group 8 */

            display: flex;
            flex-direction: column;
            align-items: center;    
     
 
          
}

.allicon{
    display: flex;
    flex-direction: row;
}

