#titleBB{
  

            position: relative;
            width: 350px;
            height: 24px;
            left: 0px;
            top:  0px;

            
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */
            
            
            color: #000000;
}

@media screen and (max-width:1280px) {
    #titleBB{
          position: relative;
          width: 350px;
          height: 24px;
         
    }
 }  
 @media screen and (max-width:750px) {
    #titleBB{
          position: relative;
          width: 350px;
          height: 24px;
    }
 }  