#titleBAcc{
  
   /* Log In */


            position: absolute;
            width: 107px;
            height: 54px;
            

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 54px;
            /* identical to box height */


            color: #000000;
}

