.icon{
    position: relative;
    width: 150px;
    height: 40px;
    left: 00px;
    top: 30px;

    display: flex;
    flex-direction: row;

    margin-left: 0;
    margin-bottom: 15px;
}

#titleBB
{
    top: -4px;
    left: 10px;
}