.imgBB{
                position: relative;
                width: 420px;
                height: 393px;
                border-radius: 10px;
                
                 
}

@media screen and (max-width:1280px) {
    .imgBB{
        position: relative;
                width: 420px;
                height: 393px;
                border-radius: 10px;
                
    

    } 
 }  

 @media screen and (max-width:750px) {
    .imgBB{
     
        position: relative;
        width: 420px;
        height: 393px;
        border-radius: 10px;
        
    } 
    
 } 