.columnonethreeall{
                /* Group 27 */


                position: absolute;
                width: 140px;
                height: 400px;
                left: 735.01px;
                /* top: 4595px; */
}

.columnonethree{
    /* Group 25 */


        position: absolute;
        width: 300px;
        height: 163px;
        top:59px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
}


.typography-Help{
    /* Help */


        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */


        color: #9F9F9F;
}

.link-Privacy{
    margin-bottom: 70px;
}

.link-Returns{
    margin-bottom: 70px;
}


@media screen and (max-width:1280px) {
    .link-Privacy{
        position: relative;
        width: 300px;
        height: 400px;
       
    }
    
    .link-Returns{
        position: relative;
        top: 20px;
    }

    .link-Pr{
        position: relative;
        top: 50px;
    }
    
    
 }  

 @media screen and (max-width:750px) {
    .columnonethreeall{
        /* Group 27 */


        
        position: absolute;
        width: 1131px;
       
        top: 400px;
        left: 520px;
}

    
    
    
 }