#subtitleBTB{

        
        position: absolute;
        width: 479px;
        height: 24px;
        left: 520px;
        top: 3330px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */


        color: #9F9F9F;


}


@media screen and (max-width:1280px) {
        #subtitleBTB{
    
                position: absolute;
                width: 479px;
                height: 24px;
                left: 470px;
                top: 5030px;
        
    
        } 
     }  
    
     @media screen and (max-width:750px) {
        #subtitleBTB{
         
                position: absolute;
                width: 479px;
                height: 24px;
                left: 240px;
                top: 6330px;
        } 
        
     } 
