#subtitleBP{

                position: relative;
                width: 158px;
                height: 36px;
                left: -50px;
                top:  -20px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                /* identical to box height */

                color: #000000;

}

@media screen and (max-width:1280px) {
    #subtitleBP{
        
        left: -45px;
        top:  -65px;
    }
 }  

 @media screen and (max-width:750px) {
    #subtitleBP{
        
        left: -45px;
        top:  -185px;
    }
 }  



