.icons{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 247px;
    height: 28px;
    left: 1093px;
    top: 36px;
}

@media screen and (max-width:1280px) {
    .icons{
        display: flex;
        flex-direction: row;
        width: 430px;
        height: 24px;
        left: 905px;
        top: 38px;
    }
    
}

@media screen and (max-width:750px) {
    .icons{
        display: flex;
        flex-direction: row;
        width: 430px;
        height: 24px;
        left: 555px;
        top: 38px;
    
    }
    
}

#link{
    margin-top: -10px;
    color: black;
}